@charset "utf-8";

/*
header {
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 5px #000000;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffee', endColorstr = '#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffee', endColorstr = '#ffffff')";
  background-image: -moz-linear-gradient(top, #ffffee, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffee, #ffffff);
  background-image: -o-linear-gradient(top, #ffffee, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffee, #ffffff);
  background-image: linear-gradient(top, #ffffee, #ffffff);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

header h1 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#header-nav ul {
  list-style: none;
}
#header-nav li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #000;

  background-color: #ccc;
}
#header-nav li:first-child {
  border-left: 1px solid #000;
}
#header-nav a {
  text-decoration: none;
  color: #000;
}

section {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

article {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 5px #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffee', endColorstr = '#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffee', endColorstr = '#ffffff')";
  background-image: -moz-linear-gradient(top, #ffffee, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffee, #ffffff);
  background-image: -o-linear-gradient(top, #ffffee, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffee, #ffffff);
  background-image: linear-gradient(top, #ffffee, #ffffff);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  margin-top: 50px;
  padding: 10px;
}
*/